@import "tailwindcss";
@import "cal-sans";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Body / UI text */
body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

/* Headings only use Cal Sans */
h1,
h2,
h3 {
  font-family: "Cal Sans", system-ui, sans-serif;
  font-weight: 600;
}

h1 {
  letter-spacing: -0.001em;
}

h2 {
  letter-spacing: -0.005em;
}
